<div>
  <div>
    <select [value]="currentSize()"
      class="form-select"
      (change)="onSelectChange($event)">
      <option *ngFor="let option of selectPageSizes()" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link" [class.disabled]="selectedPage() == 1"
        (click)="changeCurrentPageByArrowButtons('-')" > &laquo; </button>
      </li>
      @if(selectedPage() > 18){
        <li class="page-item">
          <button class="page-link" disabled> ... </button>
        </li>
      }
      @for(p of pages(); track p){
        <li class="page-item">
          <button class="page-link"
          [class.active]="p===selectedPage() "
          (click)="changeCurrentPage(p)">{{p}}</button>
        </li>
      }
      @if(pages().length > 20){
        <li class="page-item">
          <button class="page-link" disabled> ... </button>
        </li>
      }
      <li class="page-item">
        <button class="page-link" [class.disabled]="selectedPage() === quantityPages"
        (click)="changeCurrentPageByArrowButtons('+')" > &raquo; </button>
      </li>
    </ul>
  </nav>
</div>
