<p>
  nombre lista : {{listName}}
</p>
<p>
  search: {{searchType()}} -- value {{searchValue()}}
</p>

<div class="pt-2">
  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle"
      type="button" data-bs-toggle="dropdown"
      aria-expanded="false">Buscar por : {{searchType()}} </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item" (click)="selectSearchType('Nombre')" selected>
        Nombre</li>
      <li class="dropdown-item" (click)="selectSearchType('Id')">Id</li>
      <li class="dropdown-item" (click)="selectSearchType('Completed')">Completed</li>
    </ul>
    <input type="text" class="form-control"
      [(ngModel)]="searchValue"
      aria-label="Text input with dropdown button">
    <input type="button"
      class="btn btn-success"
      value="Buscar" (click)="searchGoalItems()">
  </div>
</div>

<div class="mb-3 d-flex justify-content-between">
  <div># items <b>{{filter().totalRecords}}</b></div>
  <div>
    <button type="button"
      (click)="addNewItem()"
      class="btn btn-primary btn-sm">Agregar Item a la lista</button>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  @for(detail of goalDetails(); track detail.id){
  <div class="col">
    <div class="card" style="width: 18rem;" (dblclick)="changeSelectedGoalDetail(detail.id)">
      <img src="{{detail.imageUrl}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{detail.name}}</h5>
        <p class="card-text">{{detail.description}}</p>
        <div class="text-center">
          <input 
          class="btn"
          [class.btn-success]="detail.complete"
          [class.btn-primary]="!detail.complete"
          [disabled]="detail.complete"
           value="Completar"
          (click)="completeGoal(detail)" >
          <button class="btn btn-outline-danger" 
            (click)="deleteGoal(detail)">
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<div class="mt-3">
  <app-paginator [quantityPages]="filter().pages" (updateObjects)="changeSelection($event)"></app-paginator>
</div>

<app-edit-goal-detail (updateObjects)="changeState($event)"></app-edit-goal-detail>
