<div class="pt-2">
  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle"
      type="button" data-bs-toggle="dropdown"
      aria-expanded="false">Buscar por : {{searchType}} </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item" (click)="selectSearchType('Nombre')" selected>
        Nombre</li>
      <li class="dropdown-item" (click)="selectSearchType('Id')">Id</li>
      <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
    </ul>
    <input type="text" class="form-control"
      [formControl]="searchValue"
      aria-label="Text input with dropdown button">
    <input type="button"
      class="btn btn-success"
      value="Buscar" (click)="searchGoal()">
  </div>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Meta</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of goalsList()">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <input type="button" class="btn btn-outline-primary"
            (click)="editName()"
            value="Editar"
            >
            <a class="btn btn-outline-info"
            (click)="redirectDeatil(item.id)"
            >test</a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>

<div>
  <pre>
    {{ goalsList() | json}}
  </pre>
</div>
