<div class="pt-2">
  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle"
      type="button" data-bs-toggle="dropdown"
      aria-expanded="false">Buscar por : {{searchType}} </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item" (click)="selectSearchType('Nombre')" selected>
        Nombre</li>
      <li class="dropdown-item" (click)="selectSearchType('Id')">Id</li>
      <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
    </ul>
    <input type="text" class="form-control"
      [formControl]="searchValue"
      aria-label="Text input with dropdown button">
    <input type="button"
      class="btn btn-success"
      value="Buscar" (click)="searchGoal()">
  </div>
</div>
<div class="mb-3">
  <button type="button"
    (click)="addNewList()"
   class="btn btn-primary btn-sm">Agregar Lista</button>
</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Meta</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of goalsList()">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
            <input type="button" class="btn btn-outline-primary mx-1"
            (click)="editName(item)"
            value="Editar"
            >
            <button class="btn btn-outline-info mx-1"
              (click)="redirectDeatil(item.id)"
            >test</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div>
  <app-paginator
    [quantityPages]="filter().pages"
    (updateObjects)="changeSelection($event)"></app-paginator>
</div>
<app-edit-list-goal (updateObjects)="validateUpdate($event)"
></app-edit-list-goal>
